#boxManagerMenu{
    display:inline-block;
    position:absolute;
    top:-35px;
    right:10px;
    background: #D6D6D6;
    color:#5A5A5A;
    padding: 8px 5px 5px 5px;
    border:1px solid #C4C4C4;
    line-height:22px;
    font-size:14px;
    text-transform: uppercase;
    font-family:'OswaldLight',Arial,Helvetica,sans-serif;
    text-align:center;
}
#boxManagerMenu a{
    display:inline-block;
    color:#FFF;
    font-size:12px;
    text-transform: uppercase;
    font-family:'OswaldLight',Arial,Helvetica,sans-serif;
    padding:1px 5px;
    box-shadow:2px 2px 0 rgba(0, 0, 0, 0.1);
    border-right:1px solid #FFF;
    border-bottom:1px solid #FFF;
}
.tblCalendario{
    display:inline;
    position:relative;
    float:left;
    width:444px;
}
.tblCalendario tr.intestazione td{
    background: #5A5A5A;
    color:#FFF;
    font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
}
.tblCalendario tr td{
    padding:2px 5px;
    color: #6B6B6B;
}
.tblCalendario tr.even td{
    background: #F5F5F5;    
}